.DS_Store
.Rhistory
.Rproj.user
B CESC 12.xls - Sheet1.csv
CESC/
Preguntes sociograma - Sociograma_CMS.csv
Preguntes sociograma - sociograma_CI.csv
individual.html
proves_nets.Rmd
proves_nets.html
sociograma.html
sociograma_CESC.Rmd
sociograma_CI.html
sociograma_CI.log
sociograma_CI.pdf
sociograma_CMS.html
sociograma_CMS.pdf
versio2/.Rproj.user/
figures
taules
informes
proves.*
dades